@use './typographic.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  color-scheme: light;
  --font-logo: 'Knewave', cursive;
  --font-body: 'Ubuntu', sans-serif;
  --memobook-light-green: #d6f2d2;
  --memobook-green: #81de76;
  --memobook-dark-green: #5b9a53;
  --memobook-light-blue: #8cd9ff;
  --memobook-blue: #6caddf;
  --memobook-dark-blue: #3a55b4;
  --memobook-black: #282828;
  --memobook-dark-grey: #9e9e9e;
  --memobook-light-grey: #f0f0f0;
  --memobook-white: #f9f9f9;
  --memobook-error: #ff5050;
  --memobook-error-dark: #b93b3b;
  --memobook-warning: #ffcb5c;
  --memobook-warning-dark: #c79a3b;
}

:root.dark {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: light-dark(var(--memobook-white), var(--memobook-black));
  color: light-dark(var(--memobook-black), var(--memobook-light-grey));
  @include typography-styles();
}

h1.logo {
  font-family: var(--font-logo);
}

h2,
p {
  font-family: var(--font-body);
  color: light-dark(var(--memobook-black), var(--memobook-light-grey));
}

button.text-button {
  font-family: var(--font-body);
  color: light-dark(var(--memobook-black), var(--memobook-light-grey));
  display: inline-flex;
  text-decoration: underline;
  &:hover {
    color: var(--memobook-dark-green);
    cursor: pointer;
  }
}
